<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<ul>
   		<li><a href="/signup">signup</a></li> 
    	<li><a href="/signin">signin</a></li>
   	</ul> 
  </body>
</html>
