<!DOCTYPE html>
<html>
<head>
<title>user login</title>
</head>
<body>
<h2>Enter name & password </h2>
<form action="/user" method="POST">
  <p>
  <label for="username">username     : 
    </label><input type="text" name="username" required> <br> 
<label for="password">password:</label>
<input type="password" name="password" required><br>
  <input type="submit"/>
  </p>
</form>
</body>