<!DOCTYPE html>
<html>
<head>
<title>Add user</title>
</head>
<body>
<h2>Enter user Details </h2>
<form action="/newuser" method="POST">
  <p>
  <label for="username">username     : 
    </label><input type="text" name="username"/> <br>
  <label for="first name">first name   : 
    </label><input type="text" name="firstname"/> <br>
  <label for="last name">last name  : 
    </label><input type="text" name="lastname"/> <br>
<label for="password">password:</label>
<input type="password" name="password"><br>
  <label for="confirm password">confrim password:</label>
  <input type="password" name="cpassword"><br>
  <input type="submit"/>
  </p>
</form>
</body>